body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px;
}
h1{
    font-size: 40px;
}
.paint{
    color: turquoise;
}
.food-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 100%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(turquoise,blue);
    font-weight: 700;
    padding: 05px 20px;
    border-radius: 10px;
    color: white;
    box-shadow: steelblue;
}
.bufet-container{
    background-image: url(images/shapes/Frame\ 58.jpg);
    display: flex;
    
    
}
.foodie img{
    width: 80%;
    
}
.foodie{
    width: 100%;
    padding-left: 5%;
    
    
}

.linkbutton{
    text-decoration: none;
    background-image: linear-gradient(pink,cyan);
    font-weight: 700;
    padding: 05px 20px;
    border-radius: 10px;
    color: white;
}
.food-container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.big-font{
    text-align: center;
    margin-bottom: 50px;
}
h2{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.desgined-item{
    width: 25%;
    margin: 5%;
    box-shadow: 2px 2px 4px black;
   
    padding-left: 4%;
    padding-top: 2%;
    border-radius: 20px;
    
}
.desgined-item img{
    width: 60%;
    box-shadow: 1px 1px 4px  grey;
    border-radius: 15px;
    
}
h2{
    width: 60%;
    color: #583a3a;
}
.desgined-flex{
    display: flex;
}
.desgined-p{
    padding: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.box-center{
    margin-left: 25%;
    margin-right: 25%;
    padding-left: 10px;
}
.socail-system{
    margin: 5%;
    text-align: center;
    padding-left: 10%;
}
.socail-system h1{
    font-size: 30px;
    font-weight: 800;
   
}